<h1>Welcome to your Shopping Hub</h1>


<style>
nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
</style>
<nav>
<ul>
 <div>
       <a href="https://www.target.com/weekly-ad" target="_blank" style="font-size: 40px;">
    <i class="fa-solid fa-bullseye" style="color: #f70202; font-size: 0.9em;"></i> Target
      </a>

      <a href="https://www.costco.com/s?keyword=OFF&dept=All" target="_blank" style="font-size: 40px;">
      <i class="fa-solid fa-hotdog" style="color: #e40707; font-size: 0.9em;"></i> Costco
      </a>

      <a href="https://www.homedepot.com/c/Savings_Center" target="_blank" style="font-size: 40px;">
    <i class="fa-solid fa-bucket" style="color: #eb6f0a; font-size: 0.9em"></i> Home Depot
      </a>
      </div>

      </ul>
    </nav>


<hr>

<h2>Type of Shopping Lists</h2>

    <form action="/insert_list" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create list
      </button>
    </form>
  </div>
</div>
 
 <hr>

 <ul>
 <% @list_of_lists.each do |a_list| %>

 <li>
 <a href="/lists/<%= a_list%>"><%= a_list.name%></a>
 </li>
 <% end %>
 </ul>
<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_lists.each do |a_list| %>
      <tr>
        <td>
          <%= a_list.id %>
        </td>

        <td>
          <%= a_list.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_list.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_list.updated_at) %> ago
        </td>

        <td>
          <a href="/lists/<%= a_list.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
