<div>
  <div>
    <h1>
      List of all lists
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new list
    </h2>

    <form action="/insert_list" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create list
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_lists.each do |a_list| %>
      <tr>
        <td>
          <%= a_list.id %>
        </td>

        <td>
          <%= a_list.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_list.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_list.updated_at) %> ago
        </td>

        <td>
          <a href="/lists/<%= a_list.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
