<div>
  <div>
    <h1>
      List #<%= @the_list.id %> details
    </h1>

    <div>
      <div>
        <a href="/lists">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_list/<%= @the_list.id %>">
          Delete list
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_list.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_list.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_list.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit list
    </h2>

    <form action="/modify_list/<%= @the_list.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_list.name %>">
      </div>

      <button>
        Update list
      </button>
    </form>
  </div>
</div>

<hr>
